{{layout "layout"}}
<input id="smash" type="text" value="" autocomplete="off" />
<div id="fuse"></div>
<div id="keypresses"></div>
<span id="log"></span>
<span id="current"></span>
{{! need a way to include javascript here that gets appended to layout }}

<!-- Templates --> 
<script type="text/template" id="item-template"> 
  <div class="todo <%= done ? 'done' : '' %>">
    <div class="display">
      <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <div class="todo-text"></div>
      <span class="todo-destroy"></span>
    </div>
    <div class="edit">
      <input class="todo-input" type="text" value="" />
    </div>
  </div>
</script> 
